<div class="row">
  <div class="col-lg-4">
    <%= link_to event.title, admin_event_path(event.id) %>
  </div>
  <div class="col-lg-1">
    <%= link_to "modifier", edit_admin_event_path(event.id) %>
  </div>
  <div class="col-lg-1">
    <%= link_to "supprimer", admin_event_path(event.id), method: :delete %>
  </div>
  <div class="col-lg-1">
    <%= event.is_reviewed ? 'vu' : 'à voir' %>
  </div>
  <div class="col-lg-1">
    <%= event.is_validated ? 'validé' : 'à valider' %>
  </div>
</div>