<div class="container">
    <div class="jumbotron">
        <h1><%= @event.title %></h1>
        <% if user_signed_in? && current_user == @event.admin %>
        <a href="<%= event_path(@event.id) %>/admin" class="nav-item btn btn-primary" role="button">Mon espace</a>
        <% else %>
        <h2>Un événement proposé par <a href="mailto:<%= @event.admin.email %>"><%= @event.admin.email %></a></h2>
        <% end %>
    </div>

    <h2>Description</h2>
    <p><%= @event.description %></p>

    <h2>Date</h2>
    <p><%= @event.start_date %></p>

    <h2>Lieu</h2>
    <p><%= @event.location %></p>

    <h2>Prix</h2>
    <p><%= @event.price %></p>
    
    <%if @event.picture.attached? %>
    <%= image_tag @event.picture, alt: 'avatar' %>
    <%else%>
    <p>=== Il n'y a pas encore de pic lié à cet événement ===</p>
    <%end%>
    
    <% if user_signed_in? && current_user != @event.admin %>
    <%= link_to "Inscris-toi !", new_event_attendance_path(@event.id), class: "nav-item btn btn-primary", role: "button" %>
    <% end %>

    <p><br/>Déjà <%= @attendants.count %> participants</p>

    <% if user_signed_in? && current_user == @event.admin %>
    <ul>
        <% @attendants.each do |attendant| %>
        <li><a href="mailto:<%= attendant.email %>"><%= attendant.email %></a></li>
        <% end %>
    </ul>
    <% end %>

</div>