<h1>User: <%= @user.email %></h1>

<%= @user.first_name %>
<%= @user.last_name %>

<h2>Activité</h2>

<h3>Événements proposés</h3>

<ul>
    <% @events.each do |event| %>
    <li><%= event.title %></li>
    <% end %>
</ul>

<h3>Participations</h3>

<ul>
    <% @attended_events.each do |attend| %>
        <li><%= attend.title %></li>
    <% end %>
</ul>
