<% provide(:title, "Admin") %>
<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/admin_navbar' %>
  <%= render 'shared/flash' %>

  <div class="container mt-3 mb-5">
  <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>